@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacto";
}
<style>
    p{
        color: blue;
        font-size:2em;
    }

</style>

 <script>

</script>

<h1>Pagina Contacto

</h1>
<div>
    <p>Esta pagina contiene los datos para poder contarse con un representante del la tienda<br/>
        correo: tiendamotos24@gmail.com <br/>
        tel: 11 2223 5566<br/>
        dirección:Rivadavia 7040
    </p>
       <button onclick="alerta()">Alerta</button>
</div>