@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moto Shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="img\refrigerante-de-motor-pro-honda-motopier-pilar-D_NQ_NP_233421-MLA20754512183_062016-F.webp" />
</div>
<body>
    <div class="motoimg">
        <img src="C:\Users\Usuario\Downloads\yamaha-capital-2-1024x682.jpg" alt="fotomoto">
     
        <br/>
        <img src="C:\Users\Usuario\Downloads\refrigerante-de-motor-pro-honda-motopier-pilar-D_NQ_NP_233421-MLA20754512183_062016-F.webp">
        <img src="~/img\refrigerante-de-motor-pro-honda-motopier-pilar-D_NQ_NP_233421-MLA20754512183_062016-F.webp" />
        <img src=""
    </div>
</body>